@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Paul Signature";
  src: url("/fonts/Paul Signature.ttf");
  font-display: block;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  background-color: white;
}

.gallery-card-image {
  transition: all ease-out 2s;
  cursor: pointer;
}

.gallery-card:hover .gallery-card-image {
  transform: scale(1.2);
  overflow: hidden;
}
/* .react-datepicker__month-container {
  background-color: pink !important;
} */
.react-datepicker__header {
  background-color: #e9608a !important;
}

body {
  color: rgb(var(--foreground-rgb));

  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

/* scroll to top button styles */

/* .container:hover {
  background-color: red;
  margin-bottom: 10rem;
} */

.scroll_to_top.chevron_container {
  animation-name: moveup;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  /* top: 6px; */
}

@keyframes moveup {
  0% {
    top: 6px;
  }
  25% {
    top: 8px;
  }

  50% {
    top: 6px;
  }
  75% {
    top: 4px;
  }
  100% {
    top: 6px;
  }
}

.triangle {
  width: 0;
  height: 0;
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #ff0000 transparent;
  border-style: solid;
}

.gallery-dropdown-triangle {
  border-color: transparent transparent white transparent;
}

.first-drop-down-item-gallery:hover .gallery-dropdown-triangle {
  border-color: transparent transparent red transparent;

  display: none;
}

.find-out-more-chevron {
  transition: margin ease 0.5s;
}

.find-out-more:hover .find-out-more-chevron {
  margin-left: 0.2rem;
}

.swiper-pagination-bullet-active {
  background: white !important;
  width: 0.7rem !important;
  height: 0.7rem !important;
}

.swiper-pagination-bullet {
  width: 0.3rem !important;
  height: 0.3rem !important;
}

.swiper,
swiper-container {
  overflow: visible !important;
}

.swiper-pagination-bullet {
  opacity: 1 !important;
  background-color: #cfb9bb !important;
  padding: 0.4rem;
  border: 3px solid #cfb9bb;
  pointer-events: all !important;
}
.swiper-pagination-bullet-active {
  border: 3px solid #cfb9bb;
  background-color: #de2e64 !important;
}

/* .my-custom-pagination-div {
  display: flex;
  gap: 4rem;
  position: absolute;
  bottom: -4rem;
} */
