@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Paul Signature";
  src: url("/fonts/Paul Signature.ttf");
  font-display: block;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  background-color: #f2f1f0;
}

.gallery-card-image {
  transition: all ease-out 2s;
  cursor: pointer;
}

.gallery-card:hover .gallery-card-image {
  transform: scale(1.2);
  overflow: hidden;
}
/* .react-datepicker__month-container {
  background-color: pink !important;
} */
.react-datepicker__header {
  background-color: #e9608a !important;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}
